footer{
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: #9bb660;
}
.footerContents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: auto;
    text-align: center;
    width: 80%;
}
.hoursContainer{
    grid-column: 1;
}
.locationAndPhone{
    grid-column: 2;
}
.socials{
    grid-column: 3;
    width: 5rem;
}

@media (max-width: 1080px){
    .footerContents{
        width: 100%;
    }
}