.teaCard{
    display: inline-block;
    height: 30%;
    width: 25%;
    border: 5px double rgb(125, 125, 125);
    margin: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center
}
.teaName{
    position: relative;
    background-color: #723d46;
    width: 100%;
    top: -20px
}
.teaImg{
    width: 95%;
    height: 30%;
}
.teaDescription{
    border: 1px solid gray;
}
